<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>

        <textarea name="comment" id="comment" cols="30" rows="5">

        </textarea>
        <br>
        <input type="submit" value="Comment" id="comment-btn" onclick="startRequest();">
        <input type="submit" value="Fetch Comments" id="fetch-comments">

    <h2>Comments</h2>
    <div class="comments">

    </div>
    <script>
    

    

    </script>
    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>